*{
  font-family: 'Lexend Deca', sans-serif;
}

body {
  background-color: #030F26;
  display: flex;
  justify-content: center;
}

#root {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.movie-paginator {
  grid-column:1/6 ;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 80% 20%;
  justify-content: center;
}

.movie-list-container {/*aqui estan las peliculas*/
  grid-column: 1/6;
  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  }

.btn-container {
  grid-row: 2;
  grid-column: 1/6;
  align-self: end;
  justify-self: center;
  display:grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  gap:5%;
}

.data-container {/*aqui estan las peliculas*/
  gap: 64px;
}

.img-container {
  position: relative;
}

.movie-poster {
  height: 260px;
  width: 190px;
  border-radius: 20px;
  grid-template-columns: 25%;
}

.title-year {
  text-align: center;
  color: #F2F2F2;
  position: absolute;
  bottom: 0px;
  background-color: #030f26b6;
  width: 190px;
  height: 66px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

span {
  font-weight: 600;
}

.arrow{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #251a1c6b;
  border: none;

}
.arrow:active{
  background-color: #D93250;
}
.arrow:hover{
  background-color: #D93250;
}

.current-page{
  background-color: #030F26;
  color: #F2F2F2;
  font-size: medium;
  border:none;
}