
body{
  background-color: #030F26;
  display:grid;
  grid-template-columns: 10% 40% 40% 10%;
  font-family: 'Lexend Deca', sans-serif;
}

#root{
  width: 100%;
  display:grid;
  grid-column: 2/3;

  
  

}


.data-container{
  width: 700px;
  display:grid;
  grid-template-columns: 25% 25% 25% 25% 25%;
  gap:64px;

}
.logo{
  grid-column: 1/4;
  margin-left: 100px;
  margin-bottom: 100px;
}
.movie{
  height: 260px;
  width: 190px;
  border-radius: 20px;
  grid-template-columns: 25%;

}

.img-container{
  position: relative;
}

.title-year{
  text-align: center;
  color: #F2F2F2;
  position: absolute;
  bottom:0px;
  background-color: #030f26b6; 
  width: 190px;
  height: 66px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

p{
  font-size: 16px;
  font-weight: 300;
}
span{
  font-weight: 600;
}